.btn-primary{
  background-color: $primary-color!important;
  color:$white!important;
  border:none!important;
  padding:0.5em 1em!important;
  border-radius:font('28')!important;
  transition: all 0.5s ease-in-out!important;
  cursor: pointer!important;
  text-transform: none !important;
  &:hover{
    box-shadow:0 0 10px rgba($primary-color,0.5)!important;
  }
  svg{
    margin-right: 0.5em;
  }
}

.btn{
  text-transform: none !important;
  display: block !important;
}


.btn-pm-round{
  background-color: $primary-color!important;
  color:$white!important;
  border:none!important;
  padding:0.5em!important;
  border-radius:50%!important;
  transition: all 0.5s ease-in-out!important;
  cursor: pointer!important;
  text-transform: none !important;
  margin-right: 0.5em;
  &:hover{
    box-shadow:0 0 10px rgba($primary-color,0.5)!important;
  }
}

.floating-btn{
  position:fixed;
  bottom:0%;
  right:0%;
  margin: 2em;
  color:white;
  background-color: $primary-color;
  border:none;
  padding:1em;
  cursor:pointer;
  animation: grow 2s infinite ease-in-out;
  box-shadow: 0 0 10px rgba($primary-color,0.5);
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  display:flex;
  align-items: center;
  text-transform: uppercase;
  svg{
    font-size: font('20');
  }
  &-text{
    width: 0;
    height:0;
    visibility: hidden;
  }
  &:hover{
    animation:unset;
    border-radius:30px;
    padding:1em 1.5em;
    svg{
      margin-right:5px;
    }
    .floating-btn-text{
      width: auto;
      height:auto;
      visibility: visible;
    }
  }
}

@keyframes grow{
  0%{
    transform:scale(1);
  }
  50%{
    transform:scale(1.1)
  }
  100%{
   transform:scale(1)
 }
 }