.cate-list{
  padding:0.5em 1em;
  font-size: font('15');
  background-color: $grey;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin-bottom:0.5em;
  display: flex;
  align-items: center;
  border-radius:5px;
  .cate-actions{
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}

.transaction-list{
  padding:2em;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  .transaction-header{
    display: flex;
    .transaction-header-date{
      padding:1em;
      flex:2;
      white-space: normal;
    }
    .transaction-header-title{
      padding:1em;
      flex:6;
      white-space: normal;
    }
    .transaction-header-amount{
      padding:1em;
      flex:2;
      white-space: normal;
    }
    .transaction-header-actions{
      padding:1em;
      flex:2;
      white-space: normal;
    }
  }
  .transaction-header{
    background-color: $primary-color;
    color:$white;
  }

  .transaction-item{
    display: flex;
    &-date{
      padding:1em;
      flex:2;
      white-space: normal;
      border-right:1px solid $border;
      border-left:1px solid $border;
      border-bottom:1px solid $border;
    }
    &-title{
      padding:1em;
      flex:6;
      white-space: normal;
      border-right:1px solid $border;
      border-bottom:1px solid $border;
    }
    &-amount{
      padding:1em;
      flex:2;
      white-space: normal;
      border-right:1px solid $border;
      border-bottom:1px solid $border;
    }
    &-actions{
      padding:1em;
      flex:2;
      white-space: normal;
      border-bottom:1px solid $border;
      border-right:1px solid $border;
    }
  }
}